.user-search-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: ridge;
  border-radius: 20px;
  margin-bottom: 10px;
}

.search-user-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  padding-top: 15px;
}

.data-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tweet-box-container {
  border-style: outset;
  display: flex;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

.name-Tweet {
  margin-left: 10px;
  text-transform: capitalize;
  font-weight: bolder;  
}

.imagenUser, .search-user-img, .image-author {
  background-color: white;
  border-color: darkcyan;
}

.search-user-img {
  border-style: outset;
  border-radius: 50px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .data-user {
    margin-top: 40px;
  }
}
